
<div class="shop-admin">
  <h2>管理</h2>
  <ul class="admin-links">
    <li><a href="/shop/admin/products">产品列表</a></li>
    <li><a href="/shop/admin/coupons">优惠券列表</a></li>
    <li><a href="/shop/admin/orders">订单列表</a></li>
    <li><a href="/shop/admin/products/new">创建产品</a></li>
    <li><a href="/shop/admin/coupons/new">创建优惠券码</a></li>
  </ul>
</div>
