<h2>Discourse Shop</h2>
<p><a class="btn btn-primary" href="/admin/plugins/shop/products">管理产品</a>
<a class="btn" href="/admin/plugins/shop/coupons">管理优惠券</a>
<a class="btn" href="/shop/products" target="_blank">前台商品列表</a></p>